<configuration>  
   <runtime>  
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
       <dependentAssembly>  
         <assemblyIdentity name="calc"  
                           publicKeyToken="6f0858c7605a5890"  
                           culture="neutral" />  
          <bindingRedirect oldVersion="0.0.0.0" newVersion="1.0.0.0" />  
       </dependentAssembly>  
      </assemblyBinding>  
   </runtime>  
</configuration>