
@{
    ViewData["Title"] = "user_registration";
}

<h4>User_registration</h4>

<form action="index.html" onsubmit="return validatePassword()" id="signup-form">
    <div class="form-group">
        <label for="username">Username :</label>
        <input type="text" class="form-control" required id="username" name="username">
    </div>
    <div class="form-group">
        <label for="email">Email id :</label>
        <input type="email" class="form-control" required id="email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" required id="password1" name="password">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters long,must contain letters and numbers.
        </small>
    </div>
    <div class="form-group">
        <label for="cpassword">Confirm Password:</label>
        <input type="password" class="form-control" required id="cpassword" name="cpassword">
    </div>
    <div class="form-group">
        Gender : <br />
        <label class="radio-inline"><input type="radio" name="gender" checked>Male</label>
        <label class="radio-inline"><input type="radio" name="gender">Female</label>
        <label class="radio-inline"><input type="radio" name="gender">Other</label>
    </div>
    <div class="form-group">
        <label for="profilepic">Choose Profile Pic</label>
        <input type="file" class="form-control-file" id="profilepic">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>

</form>