@model Order

@inject ICustomerRepository customerRepository;
@inject IProductRepository productRepository;
@{
    ViewBag.pageTitle = "New Order";
}

<form enctype="multipart/form-data" asp-controller="Order" asp-action="Create"
      method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Amount" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Amount" class="form-control" placeholder="Amount">
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="OrderDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="OrderDate" class="form-control">
            <span asp-validation-for="OrderDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CustomerId">Select Customer :</label>
        <select asp-for="CustomerId" class="form-control">
            @foreach (var customer in customerRepository.GetAllCustomer())
            {
                <option value="@customer.Id">@customer.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ProductId">Select Product :</label>
        <select asp-for="ProductId" class="form-control">
            @foreach (var product in productRepository.GetAllProducts())
            {
                <option value="@product.Id">@product.Name</option>
            }
        </select>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>